/* leerlingen/medewerkers */
.anderen_flex {
    display: flexbox;
}

.anderen {
    display: flexbox;
    background-color: #E6E6E6;
    border-radius: 15px;
    padding: 2%;
    width: 46%;
}

.leerlingen {
    margin-left: 2%;
    margin-right: 1%;
    margin-bottom: 1%;

    float: left;
}

.medewerkers {
    margin-left: 1%;
    margin-right: 2%;
    margin-bottom: 1%;
    float: right;
}

.meer {
    bottom: 10px;
    right: 10px;
    padding: 10px;
    font-size: 20px;
    background-color: #01579B;
    border-radius: 15px;
    width: fit-content;
    /* justify-content: center; */

}