/* 
Kleuren:
Blauw: #01579b / rgb(1, 87, 155) --60%--
Donkergrijs: #26328 / rgb(38, 50, 56) --30%--
blauwgrijs: #BCD8ED / rgb(188, 216, 237) --10%--
*/

/*
START NEW
*/

h2 {
    font-size: 1.1vw;
}

/*
WELCOME TEXT
*/
.welcome {
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    align-items: left;
}

/*
ACCOUNT DETAILS + ZIEK MELDEN
*/
.rectTitle {
    display: block;
    width: 15%;
    height: auto;
}

.roundRect {
    display: flex;
    height: auto;

    border-radius: 15px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1%;
    padding: 2%;
}

.section {
    width: 30%;
    padding: 1%;
    margin-top: 2%;
}

.section div {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.2vw;
}

.section form {
    font-size: 1.2vw;
}


.buttonBlue {
    padding: 10px;
    width: auto;
    background-color: #01579B;
    border-radius: 10px;
    border: none;
    font-size: 1.3vw;
    text-align: center;
}

/*
DASHBOARD
*/

.dashboardTable {

    border-collapse: collapse;
    width: 100%;
    height: auto;
    text-align: center;
}

th,
td {
    /*
    border: 1px solid black;
    */
    width: 10%;
    padding: 5px;
}

td {
    border: 1px solid lightgray;
}

td:hover {
    background-color: lightgray;
}

.weekDag {
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.weekNummer {
    border-bottom: 1px solid lightgray;
}

#week {
    font-size: 1.2vw;
}

.weekButtons {
    margin-left: 80%;
    padding-bottom: 15px;
}

.triangleButton {
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-color: transparent;
    border-radius: 5px;
    background-color: white;
}

.triangleButton:hover {
    background-color: #E6E6E6;
}

.triangle {
    border-style: solid;
    height: 0;
    width: 0;
}

.triangle--r {
    border-color: transparent transparent transparent lightgray;
    border-width: 10px 0 10px 10px;
}

.triangle--l {
    border-color: transparent lightgray transparent transparent;
    border-width: 10px 10px 10px 0;
}

/* rijschoolhouders profiel leerlingen/medewerkers div */
.anderen_flex {
    display: flexbox;
}

.anderen {
    display: flexbox;
    background-color: #E6E6E6;
    border-radius: 15px;
    padding: 2%;
    width: 46%;
    text-align: center;
    overflow-y: scroll;
}

.leerlingen {
    margin-left: 2%;
    margin-right: 1%;
    margin-bottom: 1%;

    float: left;
}

.medewerkers {
    margin-left: 1%;
    margin-right: 2%;
    margin-bottom: 1%;
    float: right;
}

/*  SCROLLBAR   */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #BCD8ED;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #01579B;
}

/*
END NEW
*/



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

h1 {
    font-size: 1.4vw;
}

.Navi {
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.Navi a {
    color: black;
    text-align: center;
    text-decoration: none;
    padding-left: 1%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

.imgclass {
    width: 100%;
    height: auto;
    margin-bottom: -10px;
}

.imgcon {
    position: relative;
    text-align: center;
}

.signup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid white 0.25vw;
    border-radius: 0.6vw;
    transition: 0.8s;
    font-size: 1.75vw;
}

.signup a {
    color: white;
    font-size: 35px;
    text-decoration: none;
    font-weight: bolder;
    transition: 0.3s;
    margin: 2vh;
    text-align: center;
    height: 12vh;
    width: 30vw;
}

.signup a:hover {
    color: gray;
    text-decoration: none;
}

.signup:hover {
    border: solid gray 0.3vw;
}

.info {
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
    justify-content: space-around;
    background-color: #BCD8ED;
    align-items: center;
}

.info img {
    border-radius: 5px;
    border: 2px solid #384c5c;
}

.info-text {
    font-size: 1.3em;
    width: 40vw;
}

.info-text h1 {
    font-size: 1.3em;
    margin-bottom: 5px;
}

.imgclass2 {
    width: 35%;
    height: 35%;
}

.Pakketten {
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
    justify-content: space-around;
    background-color: #BCD8ED;
    align-items: center;
}

.Pakketten div {
    outline-style: solid;
    padding: 10px;
    padding-bottom: 250px;
}

.Pakketten p {
    font-size: 1vw;
}

.foot {
    background-color: gray;
    padding-left: 1%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* -Inlog & Registratie pagina style- */

.forgot-pass {
    position: relative;
    font-size: 15px;
    left: 2.5vw;
    top: 1vh;
}

#inlogpage,
#regipage
/* -Inlog pagina style- */



#inlogpage {
    background-color: rgb(188, 216, 237);
}

.red {
    color: red;
}

.green {
    color: green;
}

.h2-inlog {
    font-size: 40px;
    color: white;
    margin: 20px 0px 0px 60px;
    transition: 1.2s;
}

.h2-inlog:hover {
    font-size: 40px;
    color: rgb(97, 97, 97);
    transform: translateX(-40px);
}

#inlog-txt {
    text-align: center;
    font-weight: 100;
    grid-row: 1 / 2;
}

.logo-inlog {
    position: relative;
    border-radius: 50%;
    border: solid 0.4vw rgb(38, 50, 56);
}

.inlog-container,
.regi-container {
    position: absolute;
    background-color: white;
    border: solid black 0.4vw;
    display: grid;
    border-radius: 2vw;
    justify-content: center
}

.inlogbox1 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;

}

.inlogbox2 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;

}

.btn {
    position: relative;
    border: #01579b solid 0.3vw;
    color: #01579b;
    border-radius: 1vw;
    transition: 0.5s;
    font-weight: bold;
}

.btn1 {
    color: white;
    background-color: #01579b;
}


.btn1:hover {
    border: #2ca4ff solid 0.3vw;
    background-color: #2ca4ff;
}

.btn2:hover {
    border: #2ca4ff solid 0.3vw;
}

#registreren {
    color: #01579b;
    text-decoration: none;
}

#registreren:hover {
    color: #2ca4ff;
}

/* Pakketten cards */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-row-gap: 10vh;
    grid-template-rows: auto;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    color: white;
    margin-top: 20vh;
}

.grid-item {
    background-color: #01579b;
    border-radius: 10px;
    text-align: center;
    min-height: 50vh;
    min-width: 17vw;
    padding-top: 5vh;
}

.grid-item h1 {
    margin-top: 1vh;
}

.grid-item ul {
    padding-top: 5vh;
}

.grid-item img {
    width: 50px;
    height: 50px;
}

.grid-item ul {
    list-style-type: none;
}

.grid-item li {
    margin-top: 7px;
}

/* Footer styling */
footer {
    background-color: aliceblue;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-left {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.footer-left p {
    margin-left: 10px;
}

.footer-img {
    width: 40px;
    height: 40px;
}

.social-icons {
    font-size: 25px;
}

.social-icon {
    color: black;
    margin-left: 5px;
}

h1 {
    font-size: 1.3vw;
}

.Navi {
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.Navi a {
    color: black;
    text-align: center;
    text-decoration: none;
    padding-left: 1%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.imgclass {
    width: 100%;
    height: auto;
    margin-bottom: -10px;
}

.imgcon {
    position: relative;
    text-align: center;
}

.signup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid white 0.7vw;
    border-radius: 1vw;
    font-size: 40px;
    width: 30vw;
    height: 12vh;
    transition: 0.8s;
    padding: 1vw;
}

.signup a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    transition: 0.8s;
}

.signup a:hover {
    color: gray;
    text-decoration: none;
}

.signup:hover {
    border: solid gray 1vw;
}

.info {
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
    justify-content: space-around;
    background-color: lightgray;
    align-items: center;
}

.info p {
    font-size: 0.8vw;
}

.imgclass2 {
    width: 35%;
    height: 35%;
}



/*
    -Slideshow code=
*/

.reviews {
    max-width: 100vw;
    position: relative;
    background-color: #BCD8ED;
    height: 30vh;
}

.review-slide {
    display: none;
}

.review-img {
    position: relative;
    left: 5vw;
    top: 8vh;
    border-radius: 50%;
    width: 6vw;
    height: 12vh;
}

.review-score {
    font-size: 56px;
    color: rgb(255, 217, 0);
    position: relative;
    left: 86vw;
    bottom: 6vw;
}

.review-text {
    position: relative;
    color: black;
    font-size: 18px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    bottom: 14vh;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}


/* -Inlog & Registratie pagina style- */

.forgot-pass {
    position: relative;
    font-size: 15px;
    left: 2.5vw;
    top: 1vh;
}

#inlogpage,
#regipage {
    background-color: rgb(188, 216, 237);
}

.red {
    color: red;
}

.green {
    color: green;
}

.h2-inlog {
    font-size: 40px;
    color: white;
    margin: 20px 0px 0px 60px;
    transition: 1.2s;
}

.h2-inlog:hover {
    font-size: 40px;
    color: rgb(97, 97, 97);
    transform: translateX(-40px);
}

#inlog-txt {
    text-align: center;
    font-weight: 100;
    grid-row: 1 / 2;
}

.logo-inlog {
    position: relative;
    border-radius: 50%;
    border: solid 0.4vw rgb(38, 50, 56);
}

.inlog-container,
.regi-container {
    position: absolute;
    background-color: white;
    border: solid black 0.4vw;
    display: grid;
    border-radius: 2vw;
    justify-content: center
}

.inlogbox1 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;

}

.inlogbox2 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;

}

.btn {
    position: relative;
    border: #01579b solid 0.3vw;
    color: #01579b;
    border-radius: 1vw;
    transition: 0.5s;
    font-weight: bold;
}

.btn1 {
    color: white;
    background-color: #01579b;
}


.btn1:hover {
    border: #2ca4ff solid 0.3vw;
    background-color: #2ca4ff;
}

.btn2:hover {
    border: #2ca4ff solid 0.3vw;
}

#registreren {
    color: #01579b;
    text-decoration: none;
}

#registreren:hover {
    color: #2ca4ff;
}

/* Accounts.php table styling */
.styled-table a {
    text-decoration: none;
    color: blue;
}

.styled-table a:visited {
    color: blue;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: auto;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table button {
    background-color: #009879;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 0.9em;
    cursor: pointer;
    color: white;
}

.addFormDiv {
    margin: auto;
    text-align: center;

}

.addFormDiv form {
    width: 80%;
    margin: 0 auto;
}

.addFormDiv label,
input {
    display: inline-block;
}

.addFormDiv label {
    width: 30%;
    text-align: right;
}

.addFormDiv label+input {
    width: 30%;
    margin: 0 30% 0 4%;
}

.addFormDiv input+input {
    float: right;
}

.addFormDiv select {
    text-align: left;
    width: 30%;
    margin: 0 0% 0 5%;
}